$sidebar-width: var(--sidebar-width);
$header-height: var(--header-height);

.container {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background-color: transparent;
  height: $header-height;
  display: flex;
  padding: 0 8px;
}

.logo_container {
  width: $sidebar-width;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}

.search_bar_container {
  flex-grow: 1;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-right: 16px;

  input {
    background-clip: border-box;
    background-color: rgb(234, 241, 251);
    border: none;
    border-radius: 24px;
    font-size: 13px;
    line-height: 27px;
    width: 60%;
    max-width: 720px;
    min-height: 48px;
  }
}
