$sidebar-width: var(--sidebar-width);
$header-height: var(--header-height);

.container {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  max-width: 100vw;
  background-color: transparent;
  z-index: 3;
  height: $header-height;
  display: flex;
  padding: 0 8px;

  @media only screen and (max-width: 767px) {
    padding: none;
  }
}

.sidebar_toggle_container {
  width: $sidebar-width;
  display: flex;
  align-items: center;
  justify-content: flex-start;

  h1 {
    display: inline;
    margin: 0;
    font-size: 22px;
    font-weight: 500;
    color: rgb(68, 71, 70);
    letter-spacing: 0.5px;
  }

  @media only screen and (max-width: 767px) {
    display: none;
  }
}

.header_profile_container {
  flex-grow: 1;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-right: 16px;

  @media only screen and (max-width: 767px) {
    flex-grow: 0;
    width: 100%;
    margin-right: 0px;
  }

  .search_bar_container {
    margin-left: -8px;
    position: relative;
    width: 100%;
    max-width: 624px;
    min-width: 118px;

    .search_input {
      width: 100%;
      color: rgb(0, 29, 53);
      font-size: 16px;
      background-clip: border-box;
      background-color: rgb(234, 241, 251);
      border: none;
      border-radius: 24px;
      line-height: 27px;
      min-height: 48px;
      padding-left: 48px;
      padding-right: 48px;
      -webkit-transition:
        box-shadow 0.5s linear,
        background-color 0.5s linear;
      transition:
        box-shadow 0.5s,
        background-color 0.5s linear;
      outline: none;

      &:active,
      &:focus-visible {
        background: #fff;
        border: 1px solid transparent;
        -webkit-box-shadow:
          0 1px 1px 0 rgba(65, 69, 73, 0.3),
          0 1px 2px 1px rgba(65, 69, 73, 0.15);
        box-shadow:
          0 1px 1px 0 rgba(65, 69, 73, 0.3),
          0 1px 2px 1px rgba(65, 69, 73, 0.15);
      }

      &::placeholder {
        color: #5f6368;
        font-size: 16px;
        line-height: 27px;
        font-weight: 500;
      }
    }

    @media only screen and (max-width: 767px) {
      margin-left: 0px;
      &:active,
      &:focus-visible {
        background: initial;
        border: none;
        -webkit-box-shadow: none;
        box-shadow: none;
      }
    }
  }

  .logo_container {
    display: flex;
    justify-content: center;
    align-items: center;

    @media (max-width: 767px) {
      display: none;
    }
  }
}

.support_container {
  box-shadow:
    0 1px 2px 0 rgba(60, 64, 67, 0.3),
    0 2px 6px 2px rgba(60, 64, 67, 0.15);
  border-radius: 4px;
  background-color: #fff;
  outline: 1px solid transparent;
  line-height: normal;
  padding: 6px 0;
}

.support_body {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  width: 100%;
  overflow: hidden;
  z-index: 9999;

  & > div {
    color: #202124;
    font-family: Roboto, Arial, sans-serif;
    font-size: 14px;
    font-weight: 400;
    letter-spacing: 0.2px;
    line-height: 20px;
    padding-inline: 30px;
    padding-block: 4px;
    width: 100%;
    z-index: 9999;

    &:hover {
      background-color: #eee;
      outline: 1px dashed transparent;
      cursor: pointer;
    }
  }

  span {
    border-top: 1px solid rgba(0, 0, 0, 0.12);
    margin: 7px 0;
    width: 100%;
  }
}

.apps_container {
  position: relative;
  box-shadow:
    0 1px 2px 0 rgba(60, 64, 67, 0.3),
    0 2px 6px 2px rgba(60, 64, 67, 0.15);
  border-radius: 32px;
  background-color: #e9edf5;
  outline: 1px solid transparent;
  line-height: normal;
  padding: 8px;
  width: 324px;
  height: 450px;

  .apps_body {
    background-color: #f7f9fc;
    border-radius: inherit;
    padding: 40px;
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-items: flex-start;
    min-height: 60%;

    .apps_icon {
      border-radius: 8px;
      width: 80px;
      height: 80px;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;

      span {
        color: #202124;
        font-family: Roboto, Arial, sans-serif;
        font-size: 12px;
        font-weight: 400;
        letter-spacing: 0.2px;
        line-height: 20px;
        margin-top: 4px;
      }

      &:hover {
        background-color: #e9edf5;
        cursor: pointer;
      }
    }
  }

  button {
    position: absolute;
    bottom: 24px;
    left: 50%;
    transform: translateX(-50%);
    width: 85%;
    border-radius: 9999px;
    padding-inline: 24px;
    height: 58px;
    text-align: center;
    font-size: 16px;
    font-weight: 400;
    text-shadow: 1px 1px 1px rgba(8, 89, 209, 0.075);
    text-decoration-line: none;
    color: rgb(8, 89, 209);
    line-height: 1.25;
    border: 1px solid #424242;

    &:hover {
      background-color: rgb(218, 227, 245);
      cursor: pointer;
    }
  }
}
