@import 'vendors/global';
@import 'base/global';
@import 'abstracts/global';

:root {
  --text-color: rgba(32, 33, 36, 1);
  --background-color: rgb(246, 248, 252);
  --content-box-bg-color: rgb(255, 255, 255);

  --sidebar-width: 256px;
  --header-height: 64px;
}

body {
  color: var(--text-color);
  background: var(--background-color);
  -webkit-font-smoothing: antialiased;
  height: 100vh;
  width: 100vw;
  overflow: hidden;
  @extend .hide-scrollbars;
}
