@import '../../styles/abstracts/variables';

.container {
  width: $sidebar-width;
  height: 100%;
  background-color: transparent;
  transition-duration: 0.15s;
  transition-property: width;
  transition-timing-function: ease-in-out;
  user-select: none;

  @media (max-width: 767px) {
    position: fixed;
    top: 0;
    left: 0;
    width: 60%;
    // max-width: $sidebar-width;
    background-color: white;
  }
}

.compose_btn {
  margin: 8px 0 16px 0;
  padding: 0 0 0 8px;
  user-select: none;

  button {
    -webkit-transition:
      box-shadow 0.08s linear,
      width 0.15s cubic-bezier(0.4, 0, 0.2, 1);
    transition:
      box-shadow 0.08s linear,
      width 0.15s cubic-bezier(0.4, 0, 0.2, 1);
    -webkit-border-radius: 16px;
    border-radius: 16px;
    color: #001d35;
    height: 56px;
    width: 144px;
    background-color: rgb(194, 231, 255);

    display: flex;
    align-items: center;
    font-family: 'Google Sans', Roboto, RobotoDraft, Helvetica, Arial,
      sans-serif;
    font-size: 14px;
    font-weight: 500;
    height: 56px;
    letter-spacing: normal;
    line-height: 32px;
    margin-right: 0px;
    outline-color: rgb(0, 29, 53);
    outline-style: none;
    box-shadow: rgba(0, 0, 0, 0) 0px 1px 2px;

    div {
      display: flex;
      justify-content: center;
      align-items: center;
      width: 50px;
    }

    &:hover {
      box-shadow:
        rgba(60, 64, 67, 0.19) 0px 1px 2.62497px 0px,
        rgba(60, 64, 67, 0.094) 0px 2.87492px 6.12488px 2.24995px;
    }
  }
}

.container.collapsed {
  width: 72px;
  .compose_btn {
    width: 56px;
    button {
      width: 56px;
      span {
        width: 0px;
      }
    }
  }
  &:hover {
    width: $sidebar-width;
    .compose_btn {
      width: 144px;
      button {
        width: 144px;
        span {
          width: 50px;
        }
      }
    }
  }
}

.links {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  overflow: hidden;
  will-change: transform;
  font-size: 0.875rem;
  -webkit-overflow-scrolling: touch;
  color: #202124;
  padding-right: 12px;

  .link {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    height: 32px;
    border-radius: 0 9999px 9999px 0;
    &:hover {
      background-color: rgba(60, 64, 67, 0.1);
      cursor: pointer;
    }

    white-space: nowrap;
    line-height: 20px;
    transition:
      margin 0.15s cubic-bezier(0.4, 0, 0.2, 1),
      padding 0.15s cubic-bezier(0.4, 0, 0.2, 1);
    margin-left: 0px;

    .content {
      display: flex;
      align-items: center;
      letter-spacing: 0.7px;
      justify-content: space-between;
      text-overflow: ellipsis;
      padding-right: 26px;
      box-shadow: inset 0 0 0 1px transparent;

      .title {
        text-transform: capitalize;
      }

      img {
        margin-right: 18px;
      }
      .count {
        padding-right: 26px;
      }
    }

    &.active {
      background-color: #d3e3fd;
      font-weight: 600;
    }
  }
}
