{%- if site.footer_scripts -%}
  {%- for script in site.footer_scripts -%}
    {%- if script contains "://" -%}
      {%- capture script_path %}{{ script }}{% endcapture -%}
    {%- else -%}
      {%- capture script_path %}{{ script | absolute_url }}{% endcapture -%}
    {%- endif -%}
    <script src="{{ script_path }}"></script>
  {%- endfor -%}
{%- else -%}
  <script src="https://code.jquery.com/jquery-3.3.1.min.js" integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=" crossorigin="anonymous"></script>
  <script src="{{ '/assets/js/main.min.js' | relative_url }}"></script>

  {%- if page.mermaid == true -%}
  <script src="{{ '/assets/js/plugins/mermaid.min.js' | relative_url }}"></script>
  {%- endif -%}

  
  <script src="https://use.fontawesome.com/releases/v5.0.12/js/all.js"></script>
{%- endif -%}

{% if site.mathjax == true or site.mathjax.enable == true %}

  <!-- MathJax -->
  <script>
    /* see: <https://docs.mathjax.org/en/latest/options/input/tex.html#tex-options> */
    MathJax = {
      tex: {
        inlineMath: [              /* start/end delimiter pairs for in-line math */
          ['$','$'],
          ['\\(','\\)']
        ],
        displayMath: [             /* start/end delimiter pairs for display math */
          ['$$', '$$'],
          ['\\[', '\\]']
        ]
      }
    };
    </script>
    <script src="https://polyfill.io/v3/polyfill.min.js?features=es6"></script>
    <script type="text/javascript" id="MathJax-script" async
      src="https://cdn.jsdelivr.net/npm/mathjax@3/es5/tex-chtml.js">
    </script>

{% endif %}

{%- if page.layout == "search" -%}
  {% include lunr-search-scripts.html %}
{%- endif -%}
