@import 'styles/abstracts/variables';
@import 'styles/abstracts/utils';

.sidebar_wrapper {
  margin-top: $header-height;
  display: flex;
  height: calc(100vh - $header-height);
  width: 100vw;
}

.content_container {
  flex-grow: 1;
  background-color: #fff;
  border-radius: 16px;
  margin-right: 16px;
  margin-bottom: 16px;
  overflow: hidden;
  @extend .hide-scrollbars;
}
