.emails_container {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  font-size: 0.875rem;
  letter-spacing: 0.5px;
  font-weight: 700;
  color: #202124;
  overflow-y: auto;
  padding-bottom: 80px;
  border-top: 1px solid rgba(100, 121, 143, 0.122);
  .email_content {
    width: 100%;
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    padding: 10px 0;
    z-index: 1;
    box-shadow: inset 0 -1px 0 0 rgba(100, 121, 143, 0.122);
    transition: box-shadow 0.15s linear;

    &:hover {
      box-shadow:
        inset 1px 0 0 #dadce0,
        inset -1px 0 0 #dadce0,
        0 1px 2px 0 rgba(60, 64, 67, 0.3),
        0 1px 3px 1px rgba(60, 64, 67, 0.15);
      z-index: 2;
      cursor: pointer;
    }
  }

  .no_emails {
    padding-block: 10px;
    padding-inline: 8px;
    font-size: 0.875rem;
    font-weight: 400;
  }
}

.icon_cell {
  margin-right: 10px;
  margin-left: 16px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 12px;
}

.name_cell {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  letter-spacing: 0.75px;
  max-width: 168px;
  width: 168px;
  padding-right: 32px;
}

.msg_cell {
  flex-grow: 1;
  display: flex;
  justify-content: space-between;
  margin-right: 26px;
  line-height: 20px;

  span {
    font-weight: 400;
    color: #5f6368;
  }

  .msg_content {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 8px;
    flex-basis: 0;
    flex-shrink: 1;
    flex-grow: 1;
    white-space: nowrap;
    overflow: hidden;
    max-width: 50vw;
    text-overflow: ellipsis;
    letter-spacing: 0.25px;
  }

  .file {
    box-shadow: inset 0 0 0 1px rgba(100, 121, 143, 0.302);
    box-sizing: border-box;
    border-radius: 15px;
    color: #5f6368;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 30px;
    padding: 0 12px;
    margin-right: 8px;
    max-width: 160px;
    min-width: 64px;
    font-size: 0.875rem;
    font-weight: 400;

    img {
      margin-right: 8px;
    }

    &:hover {
      background-color: rgba(100, 121, 143, 0.05);
      cursor: pointer;
    }
  }
}

.checkboxLabel {
  position: relative;
  display: inline-block;
  cursor: pointer;
}

.checkboxInput {
  position: absolute;
  opacity: 0;
  cursor: pointer;
}

.checkboxCustom {
  width: 12px; /* Adjust size as needed */
  height: 12px; /* Adjust size as needed */
  border: 1.5px solid #5f6368; /* Grey square border */
  border-radius: 1px;
  display: block;

  &:after {
    content: '';
    display: block;
    width: 3.5px; /* Width of the checkmark */
    height: 6.5px; /* Height of the checkmark */
    border: solid #5f6368; /* Grey color tick */
    border-width: 0 1.5px 1.5px 0;
    transform: rotate(45deg);
    position: absolute;
    top: 1.5px; /* Adjust the position of the checkmark */
    left: 5px; /* Adjust the position of the checkmark */

    transition: 0.2s;
  }
}
