.popover-container {
  position: relative;
  display: inline-block;
}

.popover-trigger {
  cursor: pointer;
}

.popover-content {
  position: absolute;
  bottom: -12px;
  right: 0px;
  transform: translate(5%, 100%);
  z-index: 999;
  min-width: 164px;
  width: max-content;
}
