---
layout: default
---

<main id="main" class="main-content" aria-label="Content">
  <article class="h-entry">
    <div class="page-wrapper">
      
      <header class="page-header animated fadeIn">
        {% assign title = page.title | markdownify | strip_html %}
        {% if page.link %}
        <h1 id="page-title" class="page-title p-name"><a href="{{ page.link }}">{{ title }} <span
              class="link-arrow">&rarr;</span></a></h1>
        {% else %}
        <h1 id="page-title" class="page-title p-name">{{ title }}</h1>
        {% endif %}
      </header>

      <div class="page-sidebar">
        {% include page-author.html %}
        {% include page-categories.html %}
        {% include page-tags.html %}
      </div>

      <div class="page-content">

        <h1>Table Of Content</h1>

        <div class="toc-div">
        {% include toc.html html=content %}
        </div>

        <div class="e-content">
          {% include anchor_headings.html html=content anchorBody="#" %}
        </div>

        {% if page.share %}
        {% include social-share.html %}
        {% endif %}
        
        {% include page-pagination.html %}
      </div>
    </div>
  </article>
</main>

<style>
.toc-div {
  padding: 0.5rem 0;
  margin: 1rem 0;
  line-height: 1.5; 
  background-color: #f6f6f6!important;
  border-radius: 6px;
  border: 2px solid #616161;
}
</style>