.container {
  display: flex;
  flex-direction: column;

  .subject {
    padding: 20px 16px 8px 72px;
    display: flex;
    align-items: center;
    justify-content: space-between;

    .text_content {
      display: flex;
      align-items: center;
      justify-content: flex-start;

      .title {
        font-size: 1.375rem;
        color: #1f1f1f;
        font-weight: 400;
        padding-right: 10px;
        word-break: break-word;
      }

      .tag {
        font-size: 0.75rem;
        cursor: pointer;
        line-height: 18px;
        background-color: #e8f0fe;
        color: #666;
        border-radius: 4px;
        padding: 0 4px 0 4px;
        text-decoration: capitalize;
        vertical-align: middle;
      }
    }

    .icon_content {
      display: flex;
      align-items: center;
      justify-content: flex-end;
    }
  }
}
