.button {
  border: none;
  background-color: transparent;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 4px;

  &:hover,
  &:active {
    background-color: rgba(60, 64, 67, 0.1);
  }
  &:disabled {
    cursor: not-allowed;
  }
  &:focus {
    outline: none;
  }
}
