.container {
  width: 100%;
  height: 48px;
  display: flex;
  align-items: center;
  justify-content: space-between;

  @media only screen and (max-width: 767px) {
    display: none;
  }

  .select_container {
    display: flex;
    align-items: center;
    justify-content: flex-start;

    .back_btn {
      width: 60px;
      margin-left: 6px;
    }
  }

  .details_container {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    margin-right: 16px;

    .pagination {
      -webkit-font-smoothing: auto;
      font-size: 0.75rem;
      text-decoration: none;
    }
  }
}
